<div fxLayoutAlign="center">
  <mat-card fxFlex="450px" fxFlex.lt-sm="95">
      <mat-card-header fxLayoutAlign="center">
          <section>
              <h1> Bienvenue à vous Ludus </h1>
          </section>
      </mat-card-header>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="primary" routerLink="combats/new">Créer un combat</button>
        <button mat-raised-button color="primary" routerLink="combats/list">Voir les combats</button>
      </mat-card-actions>
  </mat-card>
</div>

