<!--The content below is only a placeholder and can be replaced.-->
<div fxLayoutAlign="center">
  <h1>Principe de l'application </h1> <br/>
</div>
<div fxLayoutAlign="center">
  <p> Si vous êtes le Ludus ou l'Empereur, cette application vous est destiné. Veuillez choisir l'une des pages ci-dessous: </p>
</div>
<br/>
<div fxLayoutAlign="center">
    <button mat-raised-button type="button" color="primary" routerLink="/ludus">Aller à la page du ludus</button>
    <span class="spacer"></span>
    <button mat-raised-button type="button" color="primary" routerLink="/empereur">Aller à la page de l'empereur</button>
</div>
