<div>
  <mat-toolbar color="primary" class="toolbar">
      <h1 class="app-name">GodArena</h1>
      <span class="spacer"></span>
      <button type="button" mat-icon-button routerLink="accueil">
        Accueil
      </button>
      <span class="spacer"></span>
      <button type="button" mat-icon-button routerLink="ludus">
        Page du Ludus
      </button>
      <span class="spacer"></span>
      <button type="button" mat-icon-button routerLink="empereur">
        Page de l'empereur
      </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>


